/* Color Theme Swatches in Hex */
.Arcade-High:-New-Impressions-1-hex { color: #BF268A; }
.Arcade-High:-New-Impressions-2-hex { color: #D93BBE; }
.Arcade-High:-New-Impressions-3-hex { color: #F2C029; }
.Arcade-High:-New-Impressions-4-hex { color: #F2913D; }
.Arcade-High:-New-Impressions-5-hex { color: #F26E50; }

/* Background color: Azul 001220 / Roxo 060021 */

/* Color Theme Swatches in RGBA */
.Arcade-High:-New-Impressions-1-rgba { color: rgba(191, 38, 137, 1); }
.Arcade-High:-New-Impressions-2-rgba { color: rgba(216, 58, 190, 1); }
.Arcade-High:-New-Impressions-3-rgba { color: rgba(242, 191, 41, 1); }
.Arcade-High:-New-Impressions-4-rgba { color: rgba(242, 145, 60, 1); }
.Arcade-High:-New-Impressions-5-rgba { color: rgba(242, 109, 79, 1); }

/* Color Theme Swatches in HSLA */
.Arcade-High:-New-Impressions-1-hsla { color: hsla(320, 66, 44, 1); }
.Arcade-High:-New-Impressions-2-hsla { color: hsla(309, 67, 53, 1); }
.Arcade-High:-New-Impressions-3-hsla { color: hsla(45, 88, 55, 1); }
.Arcade-High:-New-Impressions-4-hsla { color: hsla(28, 87, 59, 1); }
.Arcade-High:-New-Impressions-5-hsla { color: hsla(11, 86, 63, 1); }